
@{
    ViewBag.Title = "Criado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paciente inserido com sucesso!</h2>

<p class="text-center"> O que você deseja fazer agora?</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <i class="fa fa-address-card-o fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
                
                <p class="announcement-text">Lista de Pacientes</p>
            </div>
        </div>
    </div>
    <a href="~/Paciente">
        <div class="panel-footer announcement-bottom">
            <div class="row">
                <div class="col-xs-6">
                    Visualizar
                </div>
                <div class="col-xs-6 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <i class="fa fa-flask fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
               
                <p class="announcement-text">Novo Teste Rápido</p>
            </div>
        </div>
    </div>
    <a href="~/Teste/Criar/@ViewBag.cadastrado">
        <div class="panel-footer announcement-bottom">
            <div class="row">
                <div class="col-xs-6">
                    Novo +
                </div>
                <div class="col-xs-6 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>
    </a>
</div>



