@model LabClick.ViewModel.PacienteViewModel

<style type="text/css">
    th {
        background-color: transparent;
        color: grey;
    }

    #name {
        color: #1f5c59;
        font-weight: 700;
    }

    td {
        color: #1f5c59;
    }
</style>

<div>
    <br /><br />
    <div id="divPacientes">
        @{Html.RenderPartial("PacientesPartial", Model);}
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#dtPacientes").DataTable({
                language: {

                    searchPlaceholder: "Nome, e-mail, CPF",
                    "sEmptyTable": "Nenhum paciente encontrado",
                    "sInfo": "Exibindo de _START_ até _END_ de _TOTAL_ pacientes",
                    "sInfoEmpty": "Exibindo 0 até 0 de 0 pacientes",
                    "sInfoFiltered": "(Filtrados de _MAX_ pacientes)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ Pacientes por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum paciente encontrado",
                    "sSearch": "Pesquisar Paciente por ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },

                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"

                    }
                }
            });

            $("#btnSearch").click(function () {
                if ($("#searchBar").val() != "") {
                    var nome = $("#searchBar").val();
                    $("#divPacientes").load('@(Url.Action("PesquisarPaciente", "Paciente", null, Request.Url.Scheme))?nome=' + nome)
                }
            });
        });
    </script>
}

