@model LabClick.ViewModel.PacienteViewModel

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        @Html.TextBoxFor(m => m.SearchName, new { id = "searchBar", placeholder = "Nome do Paciente", type ="text", @class = "form-control" })
                        <span class="input-group-addon">
                            <button id="btnSearch">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div id="divPacientes">
        @{Html.RenderPartial("PacientesPartial", Model);}
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#btnSearch").click(function () {
                if ($("#searchBar").val() != "") {
                    var nome = $("#searchBar").val();
                    $("#divPacientes").load('@(Url.Action("PesquisarPaciente", "Paciente", null, Request.Url.Scheme))?nome=' + nome)
                }
            });
        });
    </script>
}

