@model LabClick.ViewModel.PacienteViewModel

<div>
    <br /><br />
    <div id="divPacientes">
        @{Html.RenderPartial("PacientesPartial", Model);}
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#dtPacientes").DataTable();

            $("#btnSearch").click(function () {
                if ($("#searchBar").val() != "") {
                    var nome = $("#searchBar").val();
                    $("#divPacientes").load('@(Url.Action("PesquisarPaciente", "Paciente", null, Request.Url.Scheme))?nome=' + nome)
                }
            });
        });
    </script>
}

