@model IEnumerable<LabClick.Database.PACIENTE>
@using LabClick.Models
@{
    ViewBag.Title = "Pacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Pacientes</h1>

<table class="table">
    <tr>
        <th>
            Nome Paciente
        </th>
        <th>
            Sexo
        </th>
        <th>
            Clinica
        </th>

        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLINICA.nome_clinica)
            </td>


            <td>
                
                <a class="btn btn-info" href="/Paciente/ListagemTestes/@item.id">
                    Lista Testes <span class="badge">@Html.Raw(Util.ContaTeste(item.id))</span>
                </a>

                


            </td>
        </tr>
    }

</table>

