@model LabClick.ViewModel.NovoPacienteViewModel

@{
    ViewBag.Title = "Novo Paciente";
}

<div>
    @using (Html.BeginForm("Novo", "Paciente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>CPF:</label>
            @Html.TextBoxFor(m => m.Cpf)
        </div>
        <a class="btn btn-primary" id="btnAvancar">Avançar</a>
    }
</div>

<script>
    $(document).ready(function () {
        $("#btnAvancar").click(function () {
            $.getJSON
        })
    })
</script>

