@model LabClick.ViewModel.NovoPacienteViewModel

@{
    ViewBag.Title = "Novo Paciente";
}

<div>
    @using (Html.BeginForm("Novo", "Paciente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>CPF:</label>
            @Html.TextBoxFor(m => m.Cpf)
        </div>
        <a class="btn btn-primary" id="btnAvancar">Avançar</a>
    }
</div>

<script>
    $(document).ready(function () {
        $("#btnAvancar").click(function () {

            var cpf = $("#Cpf").val();

            $.ajax({
                url: "http://localhost:52434/paciente/getByCpf/" + cpf,
                success: function (data) {
                    alert(data);
                },
                dataType: "json"
            });
        });
    });
</script>

