<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title> LabClick // O Seu laboratório em um click</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/Content/styles/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/styles/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/styles/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/styles/css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/styles/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/styles/css/theme-hot.css" rel="stylesheet" type="text/css" media="all" />

    <link href="/Content/styles/css/component.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="icon" type="image/png" href="/Content/styles/images/favicon.png">



    <script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);</script>

</head>
<body style="background-image: url('/Content/styles/images/bg_cadastro.jpg'); background-repeat: no-repeat;background-position: top center; background-size: cover">
    @RenderBody()
</body>



</html>
